.btn-submit {
  background-color: #031d2e !important; // زيتي
  color: white !important;
  &:hover {
    background-color: #e27b53 !important;
  }

  // لما يكون الفورم invalid & disabled
  &:disabled {
    background-color: #9ca3af !important; // رمادي
    cursor: not-allowed !important;
  }
}
.bg-gradient-register {
  background: #f4efe6 !important;
}


