.product-card {
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  ::ng-deep .mat-mdc-stroked-button {
    color: #e27b53;
    border-color: #e27b53;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:hover {
      background-color: #D9A189;
      color: white;
      border-color: #D9A189;
    }

    mat-icon {
      color: inherit;
    }
  }
}
