::ng-deep .checkout-button {
<<<<<<< HEAD
  background-color: #031d2e !important;
  color: #fff !important;
=======
  background-color: #5E6C58 !important; // اللون الأساسي للزرار
  color: #fff !important;            // لون النص يكون بني غامق وواضح
>>>>>>> f3249261a8a3aa72489311ffee50df2c9c629c56
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

::ng-deep .checkout-button:hover {
  background-color: #e27b53 !important;
  color: white !important;
}
