.btn-next {
  background-color: #031d2e !important;
  color: white !important;
  border: none !important;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #e27b53 !important;
    color: white !important;
  }

  &:disabled {
    background-color: #d1d5db !important;
    color: #9ca3af !important;
    cursor: not-allowed !important;
  }
}

.btnConfirm{
  background-color: #031d2e !important;
  color: white !important;
  border: none !important;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #e27b53 !important;
    color: white !important;
  }

  &:disabled {
    background-color: #d1d5db !important;
    color: #9ca3af !important;
    cursor: not-allowed !important;
  }
}
