::ng-deep .custom-tab-group .mat-tab-label-active {
  color: #A38772 !important;
  border-bottom: 2px solid #A38772 !important;
}

::ng-deep .custom-tab-group .mat-ink-bar {
  background-color: #A38772 !important;
}
