<header class="bg-gradient-to-r from-[#E8CBC0] to-[#636FA4] text-white py-4 px-4 fixed top-0 w-full z-50 shadow-md">
  <div class="max-w-screen-2xl mx-auto flex justify-between items-center">

    <!-- Logo -->
    <a routerLink="/" class="text-2xl font-serif font-bold text-[#FEF4EA]">
      Final Touch
    </a>

    <!-- Navigation Links -->
    <nav class="flex items-center space-x-6 uppercase text-lg">
      <a routerLink="/" routerLinkActive="text-[#ECDDCF]" [routerLinkActiveOptions]="{exact:true}" class="flex items-center space-x-2 hover:text-[#fff] transition-colors">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a routerLink="/shop" routerLinkActive="text-[#ECDDCF]"
        class="flex items-center space-x-2 hover:text-[#fff] transition-colors">        <mat-icon>store</mat-icon>
        <span>Shop</span>
      </a>
      <a *appIsAdmin routerLink="/admin" routerLinkActive="text-[#ECDDCF]"
        class="flex items-center space-x-2 hover:text-[#fff] transition-colors">        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin</span>
      </a>
      <a routerLink="/custmize" routerLinkActive="text-[#ECDDCF]"
      class="flex items-center space-x-2 hover:text-[#fff] transition-colors">
          <mat-icon>tune</mat-icon>
          <span>Custmize</span>
        </a>
    </nav>

    <!-- User + Cart -->
    <div class="flex items-center space-x-4">
      <a routerLink="/Cart" matBadge="{{cartService.itemCount()}}" matBadgeSize="large"
      class="text-[#e7d0bd] hover:text-[#ECDDCF] transition-colors">
      <mat-icon>shopping_cart</mat-icon>
      </a>

      @if(accountService.currentuser()) {
        <button
            mat-button
            [matMenuTriggerFor]="menu"
            disableRipple
            class="btn-user-menu text-[#fff] hover:text-[#fff] transition-colors"
          >
            <mat-icon>arrow_drop_down</mat-icon>
            <span>{{accountService.currentuser()?.email}}</span>
          </button>
      } @else {
        <button routerLink="/account/login" mat-stroked-button class="btn-auth bg-[#FEF4EA] text-[#A38772] hover:bg-[#A38772]">Login</button>
        <button routerLink="/account/register" mat-flat-button class="btn-auth bg-[#FEF4EA] text-[#A38772] hover:bg-[#D9A189]">Register</button>
      }
    </div>
  </div>
</header>

<!-- Loading Indicator -->
@if (busyService.loading) {
  <mat-progress-bar mode="indeterminate" class="fixed top-18 z-50"></mat-progress-bar>
}

<!-- Menu -->
<mat-menu #menu>
  <button mat-menu-item routerLink="/Cart">
    <mat-icon>shopping_cart</mat-icon>
    <span>My Cart</span>
  </button>
  <button mat-menu-item routerLink="/orders">
    <mat-icon>history</mat-icon>
    <span>My Orders</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
