<header class="fixed top-0 w-full z-[9999] shadow-md bg-[#5E6C58] text-[#FFFCF6] py-4 px-4">
  <div class="max-w-screen-2xl mx-auto flex justify-between items-center">

    <!-- Logo -->
    <a routerLink="/" class="text-2xl font-serif font-bold text-[#FFFCF6]">
      Final Touch
    </a>

    <!-- Navigation Links -->
    <nav class="flex items-center space-x-6 uppercase text-lg">
      <a routerLink="/" routerLinkActive="text-[#E8CBC0]" [routerLinkActiveOptions]="{exact:true}"
        class="flex items-center space-x-2 hover:text-white transition-colors">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a routerLink="/shop" routerLinkActive="text-[#E8CBC0]"
        class="flex items-center space-x-2 hover:text-white transition-colors">
        <mat-icon>store</mat-icon>
        <span>Shop</span>
      </a>
      <a *appIsAdmin routerLink="/admin" routerLinkActive="text-[#E8CBC0]"
        class="flex items-center space-x-2 hover:text-white transition-colors">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin</span>
      </a>
      <a routerLink="/custmize" routerLinkActive="text-[#E8CBC0]"
        class="flex items-center space-x-2 hover:text-white transition-colors">
        <mat-icon>tune</mat-icon>
        <span>Make your own</span>
      </a>
    </nav>

    <!-- User + Cart -->
    <div class="flex items-center space-x-4">
      <a routerLink="/Cart" routerLinkActive="text-[#E8CBC0]" matBadge="{{cartService.itemCount()}}" matBadgeSize="large"
        class="hover:text-white transition-colors">
        <mat-icon>shopping_cart</mat-icon>
      </a>

      @if(accountService.currentuser()) {
        <button mat-button [matMenuTriggerFor]="menu" disableRipple class="btn-user-menu text-[#FFFCF6] hover:text-white transition-colors">
          <mat-icon>arrow_drop_down</mat-icon>
          <span>{{accountService.currentuser()?.email}}</span>
        </button>
      } @else {
        <button routerLink="/account/login" mat-flat-button class="btn-auth">
          Login
        </button>
        <button routerLink="/account/register" mat-flat-button class="btn-auth">
          Register
        </button>
      }
    </div>
  </div>
</header>



<!-- Loading Indicator -->
@if (busyService.loading) {
  <mat-progress-bar mode="indeterminate" class="fixed top-18 z-50"></mat-progress-bar>
}

<!-- Menu -->
<mat-menu #menu>
  <button mat-menu-item routerLink="/Cart">
    <mat-icon>shopping_cart</mat-icon>
    <span>My Cart</span>
  </button>
  <button mat-menu-item routerLink="/orders">
    <mat-icon>history</mat-icon>
    <span>My Orders</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
