.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size:14px;
  line-height: 24px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

a{
  &.active{
    color: #D9A189;
  }
}
.btn-user-menu {
  background: transparent !important;
  color: #FEF4EA !important;
  border: none !important;
  box-shadow: none !important;
  transition: color 0.3s ease !important;

  &:hover,
  &:active,
  &:focus {
    background: transparent !important;
    color: #fff !important;
  }

  mat-icon {
    color: #FEF4EA !important;
  }
}


.btn-auth {
  background-color: #977357 !important;
  color: white !important;
  border: none !important;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #f3d2ad !important;
    color: white !important;
  }

  &:disabled {
    background-color: #d1d5db !important;
    color: #9ca3af !important;
    cursor: not-allowed !important;
  }
}
