.icon-display{
  transform: scale(3);
}
.btn-shop {
<<<<<<< HEAD
  background-color: #031d2e !important;
=======
  background-color: #5E6C58 !important;
>>>>>>> f3249261a8a3aa72489311ffee50df2c9c629c56
  color: white !important;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
<<<<<<< HEAD
    background-color: #e27b53 !important;
=======
    background-color: #8fa787 !important;
>>>>>>> f3249261a8a3aa72489311ffee50df2c9c629c56
  }

  &:disabled {
    background-color: #ccc !important;
    color: #999 !important;
  }
}
