@use '@angular/material' as mat;
@use "tailwindcss" as *;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  // ✅ تنسيق عام لأزرار Angular Material
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md;

    color: #A38772 !important;
    border-color: #A38772 !important;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s !important;

    &:hover {
      color: white !important;
      border-color: #e27b53 !important;
      background-color: #e27b53 !important;
    }

    mat-icon {
      color: inherit !important;
    }
  }

  // ✅ كلاس مخصص للزر الرئيسي
  .btn-primary {
    background-color: #031d2e !important;
    color: #FFFCF6 !important;
    border: none !important;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e27b53 !important;
    }

    mat-icon {
      color: white !important;
    }

    &:disabled {
      background-color: #d1d5db !important;
      color: #9ca3af !important;
      cursor: not-allowed !important;

      mat-icon {
        color: #9ca3af !important;
      }
    }
  }
}

// ✅ تنسيقات عامة
.container {
  @apply mx-auto max-w-screen-2xl;
}

.text-primary {
  color: #5E6C58;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

/* ✅ Scrollbar Styling */
html,
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* ✅ Snackbar Styling */
.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: #f44336;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: #4caf50;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body > app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}


